<!DOCTYPE html>
<html>


<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="shortcut icon" href="{{site.baseurl}}/images/mrC.png">
<title>{{page.title}}</title>
<meta name="description" content="Website about mahts, programming, theoretical physics and much more." />


<script type="text/javascript" src="{{site.baseurl}}/mijquery.js"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="{{site.baseurl}}/change-theme.js"></script>


<link href="{{site.baseurl}}/estilos.css" rel="StyleSheet" type="text/css"/>


</head>



<body>
<a name="arriba"></a>

<div id="toggle-container">
  <button id="toggle-theme" value="Dark/Light" onclick="change_theme()"></button>
</div>

<!--Header-->
<header>
<h1 id="titulo">La Friki Cueva</h1>
<p>Wellcome to the <a href="{{site.baseurl}}/">Friki Cueva</a>, a site about mathematics, programming, theoretical physics and much more!!! Here i will be posting demonstrations, theorems, and some applications in physics, also i write about programming and a lot of topics more. I promise that you'll enjoy the journey!!!</p>
<p><b>PD: you should enable JavaScript to see the mathematical equations and the animations.</b></p>
</header>


<!--Mathematical constants-->
<div id="constantes">
<h2>Constantes famosas</h2>
<ul>
<li>$$\pi=3.1415926535897932384626...$$</li>
<li>$$e=2.7182818284590454323...$$</li>
<li>$$\phi=1.618033988...$$</li>
</ul>
</div>


<!--Content of article-->
<article>


{{content}}


</article>


<!--Recomended pages-->
<aside>
<h3>Friki Cueva</h3>
<a href="{{site.baseurl}}/" title="Friki Cueva" rel="author"> <img src="{{site.baseurl}}/images/mrC.png" width="128px" height="128px" alt="Logo de la Friki Cueva"> </a>
<p>Enjoy this site!!!</p>

<h3>El Droide Roto</h3>
<a href="https://www.youtube.com/@droideroto" title="YT/Droide Roto" rel="author"> <img src="{{site.baseurl}}/images/logo01.png" width="128px" height="128px" alt="Logo del Droide Roto"> </a>
<p>Visit my YT channel!!!</p>

<h3>Droid Roar</h3>
<a href="https://www.youtube.com/@droid_roar" title="YT/Droid Roar" rel="author">  <img src="{{site.baseurl}}/images/dark-logo01.png" width="128px" height="128px" alt="Logo de Droid Roar">  </a>
<p>Also visit my alt YT channel!!!</p>

</aside>




<!--Footer-->
<footer>
<h3>Autor y copyright</h3>
<p>Friki Cueva/Droid Roar &copy; 2023 Copyright. You can copy the information and images within the page, but quote us when you use it. I will thank you for that. :)</p>
<script type="text/javascript">
document.write('<b>Ultima modificacion: '+window.document.lastModified+'</b><br />');
</script>
<a href="#arriba" title="Ir arriba">Ir arriba</a><br />
</footer>


</body>
</html>

